version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: campus-mysql
    ports:
      - "3307:3306"
    environment:
      TZ: Asia/Seoul
      MYSQL_DATABASE: campus_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - ./db_data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  adminer:
    image: adminer
    ports:
      - "8081:8080"