version: '3.8'

services:
  app:
    image: ${DOCKER_USERNAME}/campus-calendar-server:latest
    container_name: campus-server
    ports:
      - "8080:8080"
    environment:
      TZ: Asia/Seoul
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/campus_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      UPLOAD_DIR: /data/uploads
      UPLOAD_PUBLIC_BASE_URL: http://13.125.246.220:8080/static
    volumes:
      - /home/ubuntu/hangsha-uploads:/data/uploads
    depends_on:
      db:
        condition: service_healthy
    restart: always

  db:
    image: mysql:8.0
    container_name: campus-mysql
    environment:
      TZ: Asia/Seoul
      MYSQL_DATABASE: campus_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - ./db_data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5